
<% if !@user_input%>



<% else %>

<h1>Toilets near <%=@user_input%>: </h1>

<% end %>

<div id="toilets-index-table" class="row">

  <div id="toilets-index-list" class="small-block-grid-1 large-block-grid-2">
    <!-- loop to show toilets in area -->
    <p>Placeholder for list of toilets</p>
  </div>

  <div id="toilet-map" class="small-block-grid-1 large-block-grid-2"></div>



  <script>
  function initMap() {
    var mapDiv = document.getElementById('toilet-map');
    var map = new google.maps.Map(mapDiv, {
          center: {lat: 40.7831, lng: -73.9712},
          zoom: 12
        });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
         async defer></script>

</div>